<nav class="navbar navbar-light  navbar-static-top navbar-expand-lg header-sticky pt-3 pb-3">
    <div class="container-fluid">
        <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" data-target=".navbar-collapse"><i class="fa fa-align-left"></i></button>
        <a class="navbar-brand" [routerLink]="['/']">
            <h2 style="color:#00ff9d;">Car Garage</h2>
        </a>
        <!-- <div class="d-lg-none envelop" style="float:right;" *ngIf="loggedIn()" dropdown>
            <a id="button-basic2" dropdownToggle class="nav-link" id="navbarDropdown2" aria-controls="dropdown-basic2">
                <i class="fa fa-envelope fa-2x"></i>
            </a>
            <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic2">
                <li>
                    <p>Test 1</p>
                </li>
                <li>
                    <p>Test 2</p>
                </li>
            </ul>
        </div> -->
        <div class="navbar-collapse collapse justify-content-center" [collapse]="isCollapsed" [isAnimated]="true">
            <ul class="nav navbar-nav">
                <li class="nav-item d-lg-none" dropdown placement="bottom right">
                    <button id="button-basic" dropdownToggle class="nav-link" id="navbarDropdown"
                        aria-controls="dropdown-basic" class="btn btn-primary btn-sm dropdown-toggle">
                        {{cartItems.length}}
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li>
                            <div class="dropdown-item" *ngFor="let car of cartItems">
                                <span>{{car.item.make}}</span><br>
                                <span>{{car.item.model}} / {{car.item.yearModel}}</span><br>
                                <span class="text-primary">{{car.item.price | currency:'EUR'}}</span>
                            </div>
                            <h5 class="text-primary">Total: {{cartService.getTotalPrice() | currency:'EUR'}}</h5>
                            <button class="btn btn-sm btn-primary" (click)="navigateToCart()">My Cart </button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']"><b>Cars</b></a>
                </li>
            </ul>
        </div>
        <div class="login d-none d-lg-block">
            <div class="dropdown" dropdown>
                <span class="mr-1">
                    <button dropdownToggle id="dropdownMenuButton" aria-controls="dropdown-basic" type="button"
                        class="btn btn-primary btn-sm dropdown-toggle">
                        {{cartItems.length}}
                        <i class="fa fa-shopping-cart fa-2x"></i>
                    </button>
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdown-basic" role="menu"
                    *dropdownMenu>
                    <div class="dropdown-item" *ngFor="let car of cartItems">
                        <span>{{car.item.make}}</span><br>
                        <span>{{car.item.model}} / {{car.item.yearModel}}</span><br>
                        <span class="text-primary">{{car.item.price | currency:'EUR'}}</span>
                        <div class="dropdown-divider"></div>
                    </div>
                    <h5 class="text-primary">Total: {{cartService.getTotalPrice() | currency:'EUR'}}</h5>
                    <button class="btn btn-sm btn-primary" (click)="navigateToCart()">My Cart</button>
                </div>
            </div>
        </div>
    </div>
</nav>