<section class="space-ptb bg-holder">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="error-404">
          <h1>Error</h1>
          <strong>Oops – an error has occurred.</strong>
        </div>
      </div>
      <div class="col-md-6 text-center mt-5 mt-md-0 position-relative overflow-hidden">
         <img class="img-fluid house-animation" src="../../assets/01.png" alt="">
         <img class="img-fluid cloud cloud-01" src="../../assets/cloud-01.png" alt="">
         <img class="img-fluid cloud cloud-02" src="../../assets/cloud-02.png" alt="">
         <img class="img-fluid cloud cloud-03" src="../../assets/cloud-03.png" alt="">
         <img class="img-fluid cloud cloud-04" src="../../assets/cloud-04.png" alt="">
         <img class="img-fluid mt-5" src="../../assets/02.png" alt="">
      </div>
    </div>
  </div>
</section>
