<footer class="footer bg-dark pt-5" style="width:100%">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-contact-info">
          <h5 class="text-primary mb-4">About Car Garage</h5>
          <p class="text-white mb-4">Car Garage helps People to find the right automotive.
          </p>
          <ul class="list-unstyled mb-0 text-white">
            <li> <b> <i class="fa fa-map-marker"></i></b><span>Lefke , Northern Cyprus TR-10 Mersin, Turkey</span> </li>
            <li> <b><i class="fa fa-microphone"></i></b><span>(+90) 548 845 4171</span> </li>
            <li> <b><i class="fa fa-envelope"></i></b><span>info@CarGarage.net</span> </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="container" style="padding-top:25px;text-align:center">
    <a href="#"><span style="margin-right:50px"><i
          class="fa fa-facebook fa-2x"></i></span></a>
    <a href="#0"><span style="margin-right:50px"><i
          class="fa fa-twitter fa-2x"></i></span></a>
    <a href="#"> <span><i
          class="fa fa-instagram fa-2x"></i></span></a>
    <br />
    <br />
    <p style="font-size:medium;color:lightgrey"><b>info@CarGarage.net</b></p>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-md-4 text-center text-md-left">
          <a [routerLink]="['/home']"><h4 style="color:#00ff9d;">Car Garage</h4>
          </a>
        </div>
        <div class="col-md-4 text-center my-3 mt-md-0 mb-md-0">
          <a id="back-to-top" class="back-to-top" href="#"><i class="fa fa-angle-double-up"></i> </a>
        </div>
        <div class="col-md-4 text-center text-md-right">
          <p class="mb-0 text-white">
            &copy; Copyright <span id="copyright">
              {{currentYear}}
            </span> <a href="#">
            </a> All Rights Reserved
          </p>
        </div>
      </div>
    </div>

  </div>
</footer>